.page {
    margin: 0 auto;
    width: 100%;
}

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

.page-home      { 
    background-color: #F09090;
    padding: 2em;
    position: absolute;
    }
.page-detail     { 
    background:#E59400; 
    padding: 2em;
    position: absolute;
    }

.page-home.ng-leave         {
    animation: slideOutLeft 1s both ease-in, fadeOut 1s;
}
.page-home.ng-enter         {  
    animation: slideInRight 1s both ease-in, fadeIn 1s;  
}

.page-detail.ng-leave         {
    animation: slideOutLeft 1s both ease-in, fadeOut 1s;
}

.page-detail.ng-enter         {  
    animation: slideInRight 1s both ease-in, fadeIn 1s;  
}

/* entering animations NOT WORKING - slide in right or fade in */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes fadeIn {
    from    { opacity: 0.0; }
    to      { opacity: 1.0; }
}


/* exiting animations WORKING - slide out left */
@keyframes slideOutLeft {
    from    { transform:translateX(0); }
    to      { transform: translateX(-100%); }
}

@keyframes fadeOut {
    from    { opacity: 1.0; }
    to      { opacity: 0.0; }
}

