* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  color: #333;
  font-size: 100%;
  font-family: Helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: #600;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 67em;
  margin: 0 auto;
}

header {
  color: #600;
  padding: 1rem;
}

@media (min-width: 46.25rem) {
  header {
    padding: 0x;
  }
}

.info {
  width: 100%;
  background-color: #f0dfb4;
  padding: .5rem;
  border: 1px solid #600;
  font-size: 0.875rem;
  margin-right: 2em;
  margin-bottom: 1em;
  float: left;
}

.info th {
  text-align: left;
}

.info ul {
  float: left;
  width: 40%;
}

@media (min-width: 46.25rem) {
  .info ul {
    margin-top: 1em;
    width: 100%;
  }
}

.info table {
  float: right;
  width: 40%;
}

@media (min-width: 46.25rem) {
  .info table {
    float: none;
    width: 100%;
  }
}

@media (min-width: 46.25rem) {
  .info {
    position: absolute;
    top: 0;
    left: -12rem;
    width: 11rem;
  }
}

article {
  margin: 0 1em 0 1em;
  position: relative;
}

article h2 {
  color: #600;
}

@media (min-width: 46.25rem) {
  article {
    margin: 2em 0 0 2em;
  }
}

blockquote {
  width: 100%;
  padding: 1em;
  font-size: 1.5em;
  color: #600;
  font-style: italic;
}

@media (min-width: 46.25rem) {
  blockquote {
    float: right;
    width: 40%;
  }
}

p {
  margin: 1em 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.p-reviews .t-reviews,
.p-recipes .t-recipes {
  color: #fff;
  background: #600;
}

.main-nav {
  background: #eee;
  margin-bottom: 1em;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav li {
  flex: 1 1 auto;
}

.main-nav a {
  padding: .5rem 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  color: #600;
  background-color: #f0dfb4;
}

.main-nav a:hover, .main-nav a:focus {
  background-color: #600;
  color: #fff;
}

.main-nav a:hover svg, .main-nav a:focus svg {
  fill: #fff;
}

.main-nav a:hover span, .main-nav a:focus span {
  color: #fff;
}

@media (min-width: 46.25rem) {
  .main-nav a {
    font-size: 1.5rem;
    padding: 1.25rem 0.5rem;
  }
}

.main-nav span {
  display: none;
}

@media (min-width: 46.25rem) {
  .main-nav span {
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    color: #888;
    margin: 0.25rem 0 0 0;
  }
}

.main-nav .icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 0.5rem;
  fill: #999;
}

@media (min-width: 46.25rem) {
  .main-nav .icon {
    width: 25px;
    height: 25px;
  }
}

.main-nav.outlines * {
  outline: 1px solid rgba(255, 0, 0, 0.5);
}

.page.ng-leave {
  z-index: 9999;
}

.page.ng-enter {
  z-index: 8888;
}

.page-home {
  background-color: #F09090;
  padding: 2em;
}

.page-detail {
  background: #E59400;
  padding: 2em;
}

.page-home.ng-enter {
  animation: fadeIn 5s both ease-in;
}

.page-home.ng-leave {
  animation: slideOutLeft 5s both ease-out;
}

.page-detail.ng-enter {
  animation: slideInRight 5s ease-in;
}

.page-detail.ng-leave {
  animation: slideOutLeft 5s both ease-out;
}

/* entering animations - slide in right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1.0;
  }
}

/* exiting animations - slide in right */
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
}

.recipes-list li {
  box-sizing: border-box;
  background: rgba(240, 223, 180, 0.25);
  padding: 0.875rem;
  flex: 1 0 100%;
  margin-top: 0.875rem;
  margin-right: 0.875rem;
}

@media (min-width: 46.25rem) {
  .recipes-list li {
    flex: 1 0 calc(50% - 0.875rem);
  }
}

.recipes-list img {
  width: 30%;
  float: left;
  margin-right: 0.875rem;
}

@media (min-width: 46.25rem) {
  .recipes-list img {
    width: 50%;
  }
}

@media (min-width: 46.25rem) {
  .widescreen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.recipe-detail-image {
  width: 100%;
  margin-top: 1rem;
}

@media (min-width: 46.25rem) {
  .recipe-detail-image {
    display: flex;
    width: 50%;
    height: 50%;
  }
}

.recipe-thumbs {
  display: flex;
  margin-top: 1rem;
}

.recipe-thumbs img {
  width: 100%;
}

@media (min-width: 46.25rem) {
  .recipe-thumbs {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
  }
}

.recipe-thumbs li {
  margin-right: .5rem;
}

@media (min-width: 46.25rem) {
  .recipe-thumbs li {
    width: 45%;
    margin: 0  0 0 .25rem;
  }
}

h3 {
  margin-top: 2em;
}

.ingredients {
  line-height: 1.2rem;
  margin-top: .5rem;
  font-size: .8rem;
}

.ingredients li {
  margin-bottom: .5rem;
}

.directions li {
  padding-top: 1.5rem;
}

.container:hover .image {
  transform: scale(1.3);
}

.container {
  overflow: hidden;
}

.image {
  transition: all 0.7s ease;
}

.fade.ng-leave {
  animation: 1s disappear;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.fade.ng-enter.added {
  animation: 3s appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.addIng {
  cursor: pointer;
  margin-right: 2em;
  font-size: .8em;
  padding: .5em;
  background-color: #f0dfb4;
  border-radius: 50%;
  transition: all 3s;
}

.addIng:hover {
  background-color: #333;
  color: white;
}

.addedIng {
  cursor: none;
  margin-right: 2em;
  font-size: .8em;
  padding: .5em;
  background-color: #600;
  color: #f0dfb4;
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
